body {
  background: aquamarine;
  padding-bottom: 10;
  color: white;
}

#collection {
  margin-left: 800px;
  margin-top: 650px;
  color: red;
}

#message_in_JSON {
  margin-bottom: 200px;
  margin-left: 100px;
}
